<div class="form-custom">
  <div class="learnlistContainer">
    <div class="container">
      <div class="learnlistContainer">
        <% @learnlists.each do |learnlist| %>
        <div class="learnlistContainer">
          <h2><%= learnlist.name %></h2>
        </div>
        
            <% learnlist.lessons.each do |lesson|  %>

            Lesson: <%= lesson.id %><br>
            <h4><%= lesson.title %></h4><br>
            <%= image_tag lesson.thumbnail_url, class: "small-thumb img-rounded" %><br>
            <p><%= lesson.description %></p>
            <% end %>
              <%= twitter_button %><br>
              <p>Description: <%= learnlist.description %></p>
              <p>Created on: <%= learnlist.created_at %></p>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
