<%= form_for @quiz do |f| %>

<p>
<%= f.label :name %><br>
<%= f.text_field :name %>
</p>

<% f.fields_for :questions do |builder| %>
<p> 
<%= builder.label :content, "questions"  %><br>
<%= builder.text_area :content %>

</p>

<% end %>
<p>
<%= f.submit "submit" %>
</p>
<% end %>