<div class="container">
  <div class="form-custom">
    
    <%= form_for @quiz do |f| %>
        <p>
        <%= f.label :name, "Quiz name" %><br>
        <%= f.text_field :name, class: "form-control" %>
        </p>
        <%= f.fields_for :questions do |builder| %>
          <fieldset>
          <%= builder.label :content, "Question " %><br/>
          <%= builder.text_area :content, class: "form-control" %>
          <%= builder.hidden_field :_destroy %>
          <%= link_to "remove question", '#', class: "remove_fields" %><br>
        
          <!-- answers -->
          <%= f.fields_for :answers do |builder| %>
            <%= render 'answer_fields', f: builder %>
          <% end %>
            <p></p>
          <%= link_to_add_fields "Add Question", f, :questions %>
          </fieldset>
        <% end %>
        <p></p>
      <%= f.submit %>
      <% end %>
  </div>
</div>