<!DOCTYPE html>
<html>
<head>
  <title>Learnguru</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>


</head>

<body>

<div class="navbar-header col-lg-12 ">
  
    
  
          <ul class="nav navbar-nav navbar-right">

          <li><h3>Learn Guru</h3></li>
                <li class="learnlist-nav">
                    <%= link_to 'Access Learnlists', learnlists_path  %>
                </li>
                <li class="learnlist-nav">
                    <%= link_to 'Create Learnlists', new_learnlist_path  %>
                </li>
                  <% if user_signed_in? %>    
                      <!-- <%= image_tag current_user.gravatar_url %> -->
                      <li>
                        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                      </li>
                    <% else %>
                      <li>
                        <%= link_to "Sign up", new_user_registration_path %>
                      </li>
                      <li >
                        <%= link_to "Login", new_user_session_path%>
                      </li> 
                  <% end %>
          </ul>

</div>

      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= value %>
      </div>
      <% end %>

<div class="col-lg-12">
<%= yield %>

</div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>






</div>
</body>
</html>
