<!DOCTYPE html>
<html>
<head>
  <title>Learnguru</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults, :cache => true %>
  <%= javascript_include_tag :cocoon %>
  <%= csrf_meta_tags %>
  <script src="https://www.google.com/jsapi"></script>
  <script src="https://www.youtube.com/iframe_api"></script>

</head>

<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div id="log_in_area" class="nav navbar-nav navbar-right">
          <% if user_signed_in? %> 
         
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-default" %>
            <% else %>
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-info" %> 

            <%= link_to "Login", new_user_session_path, class: "btn btn-default" %>
          <% end %>
        </div> 
      </div>

 
     <div class="container">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= value %>
      </div>
      <% end %>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
