<div class="container">
  <h1>Latest embeds</h1>

  <% @embedcards.each do |embed| %>

  <div >
    <h2><%= embed.title %></h1>
      <p><%= embed.author_name %></p>
      <p><%= image_tag embed.thumbnail_url %></p>
      <p><%= embed.description %></p>
      <p><%== embed.html %></p>
      <p>Link: <%= embed.provider_url %></p>
      <p>Duration (secs): <%= embed.duration %></p>


    </div>

    <% end %>
  </div>
